@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --primary-color: #40488f;
  --secondary-color: #3f458f;
  --tertiary-color: #00b0ff;
  --quaternary-color: #414690;
  --quinary-color: #333;
  --senary-color: #f5f5f5;
  --septenary-color: #f0f0f0;
  --octonary-color: #ffffff;
  --nonary-color: #000;
  --denary-color: #6c6e8e;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body, html {
   
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: #f5f5f5; 
  }

  .menu-icon{
    display: none;
  }

  .dropdown{
    display: none;
  }
  
  /* Início header */

  .header {
    height: 80vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    

  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    font-family: "Rubik", serif;
    position: relative;
  }
  
  .logo img {
    width: 220px; 
  height: auto
  }
  
  .logo .bold {
    color: #000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; 
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out; 
  }

  
  .nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #3f458f; 
    transition: width 0.3s ease-in-out; 
  }
  
  .nav-links a:hover {
    color: #3f458f; 
  }
  
  .nav-links a:hover::after {
    width: 100%; 
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn-contato {
    width: 182px;
    height: 45px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    color: #333;
    font-family: "Rubik", serif;
    transition: all 0.3s ease;
  }

  .btn-contato:hover {
    transform: translateY(-2px);
    color: #666;
  }
  
  .content {
    text-align: center;
    margin-bottom: 20vh;
    
  }
  
  .content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
 
  

  .content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .content .highlight-blue {
    color: #00b0ff;
    font-weight: bold;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .cta {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .cta.primary {
    background-color: #414690;
    color: white;
  }

  .topicos{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-direction: row;
  }

  .topicos-card{
    flex-direction: row;
  }


  .content h1, .content p {
    opacity: 0;
    transform: translateY(50px);
    animation: slide-up 1s ease-in-out forwards;
  }
  
  .content h1 {
    animation-delay: 0.3s; 
  }
  
  .content p {
    animation-delay: 0.6s; 
  }

  .text-teste{
    margin-top: 15vh;
    margin-bottom: 5vh;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff; 
    border-radius: 25px; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif; 
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .image {
    width: 100px;
    height: 100px;
    opacity: 0;
    transform: translateY(50px);
    animation: slide-up 1s ease-in-out forwards;
  }
  
  .main-image {
    position: relative;
  }

  
  @keyframes slide-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Fim header */


  /* Video HEADER */

  .video-section {
    width: 100%;
    height: 80vh; 
    overflow: hidden; 
    position: relative;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Vídeo responsivo */
  .responsive-video {
    object-fit: cover; 
    width: 100%;
    height: 100%;
  }
  
  .video-content {
    position: relative;
    z-index: 2; 
    color: white;
    text-align: center;
    top: 50%; 
    transform: translateY(-50%); 
  }

  .video-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
  }

  .video-content p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: black;
  }
  
 

  @media (max-width: 1024px) {
    .video-section {
      height: 60vh; 
      margin-top: -20px; 
    }
  
    .video-content h1 {
      font-size: 2.5rem;
    }
  
    .video-content p {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 768px) {
    .video-section {
      height: 70vh; 
      margin-top: -20px; 
    }
  
    .video-content h1 {
      font-size: 2rem;
    }
  
    .video-content p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .video-section {
      height: 75vh; 
      margin-top: -20px; 
    }
  
    .video-content h1 {
      font-size: 1.8rem;
    }
  
    .video-content p {
      font-size: 0.9rem;
    }
  }


  /* Fim Video HEADER */


  /* Inicio Section Services */

  .services-section {
    padding: 60px 20px;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.services-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.services-text p{
    text-align: justify; 
}

.services-image img {
    width: 500px;
    max-width: 500px;
    border-radius: 10px;
}

.services-text h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 15px;
}

.services-text p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.learn-more-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #128ce5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 2;
}

.service-card:hover .learn-more-button {
    display: block;
    opacity: 1;
}

.service-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 140, 229, 0.1);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.service-card:hover::before {
    opacity: 1;
}
  /* Fim Section Services */


/* Inicio Empresas que trabalham conosco */
section.carousel-section {
  padding: 70px 0;
}

.carousel-section h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.carousel-section p{
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: #40488f;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.carousel-container {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  
}

.carousel {
  display: flex;
  transition: transform 1.5s ease-in-out; 
}

.carousel-item {
  box-sizing: border-box;
  padding: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  max-width: 200px; 
  height: auto;
  object-fit: contain; 
  
  background-color: #fff;
}

/* Fim Empresas que trabalham conosco */


/* Section parceiros */
.partners-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to bottom, #f8f9fc, #ffffff);
}

.partners-header h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.partners-header h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0;
  color: #000;
}

.partners-header p {
  font-size: 20px;
  color: #555;
  margin: 20px auto;
  max-width: 700px;
}

/* Logotipos */
.partners-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-items: center;
  margin-top: 50px;
}

.partner-logo {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.partner-logo img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.partner-logo:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Fim Section parceiros */


/* Formulário e Localização */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20vh;
  width: 100%;
  max-width: 1200px;
}

.contact-form,
.contact-map {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2  {
  color: var(--secondary-color);
}

.contact-form form .form-group {
  margin-bottom: 15px;
}

.contact-form form input,
.contact-form form textarea,
.contact-form form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form form button {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border: none;
}

.contact-form form button:hover {
  background-color: #3c5adf;
}

.contact-map iframe {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-form,
  .contact-map {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Fim Formulário e Localização */


/* Inicio Footer */
.footer {
  background-color: #fff;
  padding: 100px 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-logo img {
  height: 50px;
}

.footer-social a {
  margin: 0 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.footer-social a:hover {
  color: #0077b5; 
}

.footer-social i {
  display: inline-block;
}

.footer-copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

/* Fim - Footer */


/* Estilização do botão do WhatsApp */
.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.whatsapp-text {
  margin-right: 10px; 
  padding: 10px 15px; 
  background-color: #25d366;
  color: white; 
  font-family: Arial, sans-serif; 
  font-size: 14px;
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.whatsapp-button {
  width: 40px;
  height: 40px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  
  .nav-links.active {
    display: flex;
  }
  
  .buttons {
    display: none;
  }
  
  .navbar {
    padding: 20px 20px;
  }
  
  .logo {
    margin-left: -15px;
  }
  
  .logo img {
    width: 180px;
  }
}

/* Barra de rolagem */

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb{
  background: #40488f;
  
}

/* Fim barra de rolagem */