/* Computador */
@media (min-width: 768px) {
    .carousel-item {
        min-width: 25%;
    }

    
}
  
  /* Mobile*/
  @media (max-width: 767px) {
    .carousel-item {
        min-width: 100%;
    }
    .carousel-section h2{
        font-size: 30px;
        }

        .carousel-section p{
            font-size: 12px;
            width: 70%;
        }

        .carousel-item img{
            width: 220px;
        }

  }