@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar {
      flex-direction: column;
    }
  
    .logo {
      margin-bottom: 20px;
    }

    .logo img{
      width: 150px;
      margin: 0 auto;
      float: left;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .buttons {
      display: none;
    }
  
    .content h1 {
      font-size: 20px;
    }
  
    .content p {
      font-size: 14px;
    }

    .video-content h1 {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: black;
    }
  }
  
  @media screen and (max-width: 480px) {
    .btn-contato {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 14px;
    }
  
    .content h3 {
      font-size: 18px;
    }
  
    .content h1 {
      font-size: 20px;
      line-height: 1.2;
    }
  
    .content p {
      font-size: 12px;
    }
  }