@media (max-width: 768px) {
    .partners-logos {
      grid-template-columns: repeat(2, 1fr); 
    }

    .partners-section p{
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .partners-logos {
      grid-template-columns: 1fr; 
    }
  }