@media (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
    .services-text h2 {
        font-size: 20px;
    }
    .services-text p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .services-content {
        flex-direction: column;
        text-align: center;
    }

    .services-image img {
        width: 300px;
        max-width: 300px;
        border-radius: 10px;
    }

    .services-grid {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
    .service-card {
        padding: 15px;
    }
    .service-icon img {
        width: 70px;
        height: 70px;
    }
    .service-card h3 {
        font-size: 16px;
    }
    .service-card p {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .services-text h2 {
        font-size: 18px;
    }
    .services-text p {
        font-size: 12px;
    }
    .service-card h3 {
        font-size: 14px;
    }
    .service-card p {
        font-size: 12px;
    }
    .service-icon img {
        width: 60px;
        height: 60px;
    }
}